@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 :root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --ms-perspective-origin-y: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
 }
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--Very-Light-Gray);
    font-family: 'poppins', serif;
    font-size: 15px;
    color: var(--ms-perspective-origin-y);

}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 50px;
}
header {
    text-align: center;
}
header h2 {
    font-size: 34px;
    font-weight: 200;
    color: var(--ms-perspective-origin-y);

}
header h3 {
    font-size: 32px;
    font-weight: 600;
    color: var(--ms-perspective-origin-y);
}
header p {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 60px;
}
.box {
    background-color: #ffff;
    border-radius: 7px;
    padding: 30px;
    text-align: left;
    box-shadow: 0px 0px 50px 20px solid black;
}
.box-text {
    text-align: left;
    padding-bottom: 50px;
}
.supervisor { 
    border-top: 4px solid hsl(180, 62%, 55%);
}
.team {
    border-top: 4px solid hsl(0, 78%, 62%);
}
.karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}
.calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}
.box-text h5 {
    font-size: 20px;
    color: hsl(234, 12%, 34%);
    margin-bottom: 10px;
}
.box-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.supervisor, .box {
    align-self: center;
} 
img {
    float: right;
    margin-top: 10px;
}
@media screen and ( max-width: 760px){
    .main{
        grid-template-columns: 1fr;
    }
}